<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navmenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/videobackground.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trackbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block content %}{% endblock %}
    <footer class="container py-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Услуги</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Перевозка сборных грузов</a></li>
        <li><a class="link-secondary" href="#">Ускоренная перевозка</a></li>
        <li><a class="link-secondary" href="#">Доставка документов</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Компания</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Новости</a></li>
        <li><a class="link-secondary" href="#">Акции</a></li>
        <li><a class="link-secondary" href="#">Обратная связь</a></li>
        <li><a class="link-secondary" href="#">Контакты</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Дополнительные услуги</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Забор груза с адреса</a></li>
        <li><a class="link-secondary" href="#">Возврат документов</a></li>
        <li><a class="link-secondary" href="#">Упаковка груза</a></li>
        <li><a class="link-secondary" href="#">Страхование груза</a></li>
        <li><a class="link-secondary" href="#">Погрузо-разгрузочные работы</a></li>
        <li><a class="link-secondary" href="#">Подтверждение доставки</a></li>
        <li><a class="link-secondary" href="#">Наложенный платеж</a></li>
        <li><a class="link-secondary" href="#">Хранение груза</a></li>
        <li><a class="link-secondary" href="#">Доставка из гипермаркетов</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Документы</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Договоры</a></li>
        <li><a class="link-secondary" href="#">Документы для сдачи груза</a></li>
        <li><a class="link-secondary" href="#">Документы для получения груза</a></li>
        <li><a class="link-secondary" href="#">Доверенности</a></li>
        <li><a class="link-secondary" href="#">Оформление претензии</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Личный кабинет</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Возможности Личного Кабинета</a></li>
        <li><a class="link-secondary" href="#">Регистрация</a></li>
        <li><a class="link-secondary" href="#">Вход</a></li>
      </ul>
    </div>
  </div>
</footer>
 <script src="/static/js/tracking.js"></script>

</body>

</html>