<header class="py-1">
  <nav class="main-menu d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/" aria-label="Product">
      <img src="static/img/logo_small_full.jpg" alt="logo">
    </a>
    <a class="nav-a" href="/">Офисы</a>
    <a class="nav-a" href="/">Новости</a>
    <a class="nav-a" href="/">Заключить договор</a>
    <a class="nav-a" href="/">О компании</a>
    <a class="nav-a" href="tel:+7(812)309-47-57">+7(812)<strong>309-47-57</strong></a>
    <a class="nav-a" href="{{ url_for('reqlog_enter') }}">Личный кабинет</a>
  </nav>
</header>
