<header>
  <div class="header-container">

   <nav class="main-menu d-flex flex-column flex-md-row justify-content-between">
  <a class="nav-a-logo" href="/" aria-label="Product">
      <img src="/static/img/gl-logo.gif/" alt="logo">
    </a>
    <a class="nav-a" href="/">Офисы</a>
    <a class="nav-a" href="/news">Новости</a>
    <a class="nav-a" href="/">Заключить договор</a>
    <a class="nav-a" href="/">О компании</a>
    <a class="nav-a" href="tel:+7(812)309-47-57">+7(812)<strong>309-47-57</strong></a>
    <a class="nav-a" href="{{ url_for('reqlog_enter') }}">Личный кабинет</a>
  </nav>
    </div>
</header>