<section class="tracking-section">
    <h1 class="tracking-header">Местонахождение и информация по грузу</h1>
            <input id="tracking-input" name="tracknumber" class="tracking-input" type="text" placeholder="Введите номер заказа или накладной 123456789123g">

            <input type="button" id="check-input" class="bttn btn-wrap" value="Проверить" onclick="do_ajax()">
            <div class="container-status">
                <span class="text-li li-ext1" id="status_1">№ заказа\накладной 2135455156468 от 07.11.2020</span>
                <span class="text-li li-ext2" id="status_2">Статус груза: в пути</span>
                <span class="text-li li-ext3" id="status_3">Дата доставки: 15.11.2020</span>
                <span class="text-li li-ext4" id="status_4">Статус оплаты: не оплачен</span>
                <span class="text-li li-ext5" id="status_5">Направление: Санкт-Петербург -> Выборг</span>
            </div>
            <div class="container-status-none">
                <span class="text-li li-ext6" id="status_none">Такой номер не найден</span>
            </div>
    </section>
