.calculate-container{
    padding: 0;
    margin: 0;
}

.cities{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 50px;
}

.city-label{
    padding: 0;
    margin: 0;
}

.city-input{
    padding: 0;
    margin: 0;
}

.calculate-dimensions{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.calculate-dimensions input{
   padding: 0;
   margin: 0;
}

.calc-label{
    padding: 0;
    margin: 0;
    background: #aa6e6e;
    border-radius: 5px;
}

.calc-label-1{
    padding: 0;
    margin: 0;
    background: #9c6eaa;
    border-radius: 5px;
}

.calc-label-2{
    padding: 0;
    margin: 0;
    background: #84aa6e;
    border-radius: 10px;
}

.calculations{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}