.calculate-container{
    padding: 0;
    margin: 0;
}

.calculate-container{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 5px;
}

.calculate-container div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 1;

}

.calculate-container div:nth-child(2){
    grid-column: 4 / -1;
    grid-row: 1;
}

.calculate-container div:nth-child(3){
    grid-column: 1 / 3;
    grid-row: 2;
}

.calculate-container div:nth-child(4){
grid-column: 3 / 5;
    grid-row: 2;
}

.calculate-container div:nth-child(5){
grid-column: 5 / -1;
    grid-row: 2;
}

.calculate-container div:nth-child(6){
  grid-column: 1 / 3;
    grid-row: 3;
}

.calculate-container div:nth-child(7){
grid-column: 3 / 5;
    grid-row: 3;
}

.calculate-container div:nth-child(8){
grid-column: 5 / -1;
    grid-row: 3;
}

.calculate-container div:nth-child(9){
  grid-column: 1 / 3;
    grid-row: 4;
}

.calculate-container div:nth-child(10){
grid-column: 3 / 5;
    grid-row: 4;
}

.calculate-container div:nth-child(11){
grid-column: 5 / -1;
    grid-row: 4;
}

.calculate-container div {
	background-color: #28314E;
	border: 1px solid #212941;
	border-radius: 5px;
	padding: 8px 15px;
	color: #ffffff;
	font-size: 18px;
	font-family: roboto;
}

.calculate-container div:nth-child(odd) {
	background-color: #475477;
}