
/*.order_calc{
    width: 100%;
    align-items: center;
}

.cities{
    display: flex;
    flex-direction: row;

}*/

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.order_city {
    width: 50%;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.note {
    float: right;
    border: 1px solid;
    padding: 0 10px;
    margin: 5px 0 5px 10px;
    width: 120px;
    font-size: 0.9em;
}

.note P { margin: 0.6em 0;}*/

.tabs {
    width: 100%;
    max-width: 500px;
}

.tab-header {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.tab-header__item {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.tab-header__item.active {
    color: black;
    border-bottom: none;
    position: relative;
    background-color: #808080;
}

.tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-content__item {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: -1px;
    border-radius: 10px;
}

.tab-content__item.active {
    display: block;
}

.order-container{
    padding: 0;
    margin: 0;
}

.grid-container{
    padding: 0;
    margin: 0;
}

.grid-container p {
    padding: 0;
    margin: 0;
}

.order-container{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 5px;
}

.order-container div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 1;

}

.order-container div:nth-child(2){
    grid-column: 4 / -1;
    grid-row: 1;
}

.order-container div:nth-child(3){
    grid-column: 1 / 4;
    grid-row: 2;
}

.order-container div:nth-child(4){
    grid-column: 4 / -1;
    grid-row: 2;
}

.order-container div:nth-child(5){
    grid-column: 1 / 4;
    grid-row: 3;
}

.order-container div {
	font-size: 18px;
	font-family: roboto;
}

.required-field::before {
     content: "*";
     color: red;
}

.city-from {
    border-radius: 10px;
}

.city-to {
    border-radius: 10px;
}

.address {
    border-radius: 10px;
}

.terminal {
    border-radius: 10px;
}

.length {
    padding-left: 5px;
}

.width {
    padding-left: 5px;
}

.height {
    padding-left: 5px;
}

.weight {
    padding-left: 5px;
}

.quantity {
    padding-left: 5px;
}

.button{
    text-align:center;
}

