body {
    font-family: 'Poppins', sans-serif;
}

.block-price {
    border: 1px solid gray;
    padding: 10px;
    position: fixed;
    right: 30px;
    top: 100px;

}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* серый цвет радио-кнопок */
.custom-radio { filter: grayscale(1); }
/* табы */
.tabs {
    width: 100%;
    max-width: 500px;
}

.tab-header {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.tab-header__item {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.tab-header__item.active {
    color: black;
    border-bottom: none;
    position: relative;
    background-color: #808080;
}

.tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-content__item {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: -1px;
    border-radius: 10px;
}

.tab-content__item.active {
    display: block;
}
/* для всех гридов */
.grid-container{
    padding: 0;
    margin: 0;
}

.grid-container p {
    padding: 0;
    margin: 0;
}
/* откуда-куда */
.order-container{
    padding: 0;
    margin: 0;
}

.order-container{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 5px;
}

.order-container div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 1;
}

.order-container div:nth-child(2){
    grid-column: 1 / 4;
    grid-row: 2;
}

.order-container div:nth-child(3){
    grid-column: 4 / -1;
    grid-row: 1;
}

.order-container div:nth-child(4){
    grid-column: 4 / -1;
    grid-row: 2;
}

.order-container div:nth-child(5){
    grid-column: 3 / 5;
    grid-row: 3;
}

.order-container div {
	font-size: 18px;
}
/* одно место */
.place-container {
    padding: 0;
    margin: 0;
}

.place-container{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

.place-container div:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;
}

.place-container div:nth-child(2){
    grid-column: 2 / 2;
    grid-row: 1;
}

.place-container div:nth-child(3){
    grid-column: 1 / 1;
    grid-row: 2;
}

.place-container div:nth-child(4){
    grid-column: 2 / 2;
    grid-row: 2;
}

.place-container div:nth-child(5){
    grid-column: 1 / 1;
    grid-row: 3;
}

.place-container div:nth-child(6){
    grid-column: 2 / 2;
    grid-row: 3;
}
/* несколько мест */
.places-container {
    padding: 0;
    margin: 0;
}

.places-container{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

.places-container div:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;
}

.places-container div:nth-child(2){
    grid-column: 2 / 2;
    grid-row: 1;
}

.places-container div:nth-child(3){
    grid-column: 1 / 1;
    grid-row: 2;
}

.places-container div:nth-child(4){
    grid-column: 2 / 2;
    grid-row: 2;
}

.places-container div:nth-child(5){
    grid-column: 1 / 1;
    grid-row: 3;
}

.places-container div:nth-child(6){
    grid-column: 2 / 2;
    grid-row: 3;
}

.places-container div:nth-child(7){
    grid-column: 1 / 1;
    grid-row: 4;
}
.places-container div:nth-child(8){
    grid-column: 2 / 2;
    grid-row: 4;
}
/* характер груза */
.character-container {
    padding: 0;
    margin: 0;
}

.character-container{
    display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 5px;
}

.character-container div:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;

}
/* красная звездочка */
.required-field::before {
     content: "*";
     color: red;
}
/* скругленный инпут */
.city-from {
    border-radius: 10px;
}

.city-to {
    border-radius: 10px;
}

.address {
    border-radius: 10px;
}

.terminal {
    border-radius: 10px;
}

.length {
    border-radius: 10px;
}

.width {
    border-radius: 10px;
}

.height {
    border-radius: 10px;
}

.weight {
    border-radius: 10px;
}

.size {
    border-radius: 10px;
}

.quantity {
    border-radius: 10px;
}
/* кнопка оформить заказ */

.button{
    text-align:center;
}

.but {
    background: gray;
    color: white;
    border-radius: 10px;
}
.negabar {
    border-bottom: 1px dotted red;
}

[data-tooltip] {
  position: relative;
  z-index: 10;
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: green;
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px; /* CSS triangle */
  border-color: green transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element,
                              the transition effects for the
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}
/*
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}

[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: 5px 5px 5px 0px;
  border-color: transparent green transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}

.hide {
    display: none;
}

.hide + label ~ div{
    display: none;
}

.hide + label{
    border-bottom: 1px dotted gray;
    padding: 0;
    color: gray;
    cursor: pointer;
    display: inline-block;
}

.hide:checked + label{
    color: green;
    border-bottom: 0;
}
.hide:checked + label +div {
    display: block;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px;
}

.dop_uslugi{
    margin: 5% 10%;
}