input {outline:none;}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* серый цвет радио-кнопок */
.custom-radio { filter: grayscale(1); }
/* табы */
.tabs {
    width: 100%;
    max-width: 500px;
}

.tab-header {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.tab-header__item {
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.tab-header__item.active {
    color: black;
    border-bottom: none;
    position: relative;
    background-color: #808080;
}

.tab-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-content__item {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: -1px;
    border-radius: 10px;
}

.tab-content__item.active {
    display: block;
}
/* для всех гридов */
.grid-container{
    padding: 0;
    margin: 0;
}

.grid-container p {
    padding: 0;
    margin: 0;
}
/* откуда-куда */
.order-container{
    padding: 0;
    margin: 0;
}

.order-container{
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 5px;
}

.order-container div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 1;
}

.order-container div:nth-child(2){
    grid-column: 4 / -1;
    grid-row: 1;
}

.order-container div:nth-child(3){
    grid-column: 1 / 4;
    grid-row: 2;
}

.order-container div:nth-child(4){
    grid-column: 4 / -1;
    grid-row: 2;
}

.order-container div:nth-child(5){
    grid-column: 1 / 4;
    grid-row: 3;
}

.order-container div {
	font-size: 18px;
	font-family: roboto;
}
/* одно место */
.place-container {
    padding: 0;
    margin: 0;
}

.place-container{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

.place-container div:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;
}

.place-container div:nth-child(2){
    grid-column: 2 / 2;
    grid-row: 1;
}

.place-container div:nth-child(3){
    grid-column: 1 / 1;
    grid-row: 2;
}

.place-container div:nth-child(4){
    grid-column: 2 / 2;
    grid-row: 2;
}

.place-container div:nth-child(5){
    grid-column: 1 / 1;
    grid-row: 3;
}

.place-container div:nth-child(6){
    grid-column: 2 / 2;
    grid-row: 3;
}
/* несколько мест */
.places-container {
    padding: 0;
    margin: 0;
}

.places-container{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

.places-container div:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;
}

.places-container div:nth-child(2){
    grid-column: 2 / 2;
    grid-row: 1;
}

.places-container div:nth-child(3){
    grid-column: 1 / 1;
    grid-row: 2;
}

.places-container div:nth-child(4){
    grid-column: 2 / 2;
    grid-row: 2;
}

.places-container div:nth-child(5){
    grid-column: 1 / 1;
    grid-row: 3;
}

.places-container div:nth-child(6){
    grid-column: 2 / 2;
    grid-row: 3;
}

.places-container div:nth-child(7){
    grid-column: 1 / 1;
    grid-row: 4;
}
.places-container div:nth-child(8){
    grid-column: 2 / 2;
    grid-row: 4;
}
/* характер груза */
.character-container {
    padding: 0;
    margin: 0;
}

.character-container{
    display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 5px;
}

.character-container div:nth-child(1){
    grid-column: 1 / 1;
    grid-row: 1;

}
/* красная звездочка */
.required-field::before {
     content: "*";
     color: red;
}
/* скругленный инпут */
.city-from {
    border-radius: 10px;
}

.city-to {
    border-radius: 10px;
}

.address {
    border-radius: 10px;
}

.terminal {
    border-radius: 10px;
}

.length {
    border-radius: 10px;
}

.width {
    border-radius: 10px;
}

.height {
    border-radius: 10px;
}

.weight {
    border-radius: 10px;
}

.size {
    border-radius: 10px;
}

.quantity {
    border-radius: 10px;
}
/* кнопка оформить заказ */

.button{
    text-align:center;
}

.but {
    background: gray;
    color: white;
    border-radius: 10px;
}

