{% extends 'samples/base.html' %}

{% block title %}
Главная страница
{% endblock %}
{% include 'samples/header.html' %}


{% block content %}
    <section class="calculate">
        <div class="container calculate-container">
            <div class="cities">
                <div class="city-from">
                    <p class="city-label">Откуда ?</p>
                    <input type="text" class="city-input city-from-input" placeholder="Москва">
                </div>
                <div class="citi-to">
                    <p class="city-label">Куда ?</p>
                    <input type="text" class="city-input city-to-input" placeholder="Санкт-Петербург">
                </div>
            </div>
            <div class="calculate-dimensions">
                <div class="dimensions">
                    <p class="calc-label-2 calculations-label-places">Количество мест</p>
                    <input type="text" class="dim-places" placeholder="Количество мест">
                </div>
                <div class="dimensions">
                    <p class="calc-label-2 calculations-label-weight">Вес</p>
                    <input type="text" class="dim-weight" placeholder="Вес">
                </div>
                <div class="dimensions">
                    <p class="calc-label-2 calculations-label-volume">Объем</p>
                    <input type="text" class="dim-volume" placeholder="Объем">
                </div>
            </div>


            <div class="calculations">
                <div class="calculations-type">
                    <p class="calc-label">Вид перевозки</p>
                    <p class="calc-label">Стандарт</p>
                    <p class="calc-label">Экспресс</p>
                </div>

                <div class="calculations-price">
                    <p class="calc-label-1">Стоимость</p>
                    <p class="calc-label-1">300 р.</p>
                    <p class="calc-label-1">500 р.</p>
                </div>
                <div class="calculations-time">
                    <p class="calc-label-2">Срок</p>
                    <p class="calc-label-2">2 дня</p>
                    <p class="calc-label-2">1 день</p>
                </div>
            </div>


        </div>
    </section>


{% endblock %}