<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript">
        $(function() {
        var all_city = []
        {%for city in cities %}

        all_city.push('{{city[0]}}')

        {% endfor %}
            $('#acInput').autocomplete({
                source: function(request, response) {
                var results = $.ui.autocomplete.filter(all_city, request.term);

                response(results.slice(0, 10));
            }
            })
        });
    </script>

    <form>
        <div class="ui-widget">
            <input id="acInput" placeholder="Начните вводить город">
        </div>
    </form>
</body>
</html>

