{% extends 'samples/base.html' %}

{% block title %}
Новости компании
{% endblock %}
{% include 'samples/header.html' %}

{% block content %}

{% if allnews=='allnews' %}

{{ super() }}
<figure class="baha1493">
  <figcaption>
    <h2 class="news-list">Список статей</h2>
<ul class="list-posts">
        {% for p in posts %}
                <h3 class="title"><a href="{{ url_for('show_news', id_news=p.id)}}">{{p.title}}</a></h3>
                <p class="annonce">{{ p.text[:50]}}</p>
        {% endfor %}
    </ul>
    </figcaption>
</figure>
{% else %}
{% include 'samples/news_currentnew.html' %}
{% endif %}

{% endblock %}