
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_city.css">
</head>
<body>
 <section>
<input  id="input_value" list="cities" placeholder="Начните вводить город">
<ul id="cities">
    {% for city in cities %}
    <li>{{city[0]}}</li>
    {% endfor %}
</ul>
 </section>
<script>
  $(document).ready(function(){  //1
  $("#input_value").on("keyup", function() {  //2
    var value = $(this).val().toLowerCase();  //3
    $("#cities li").filter(function() {  //4
   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)  //5
  });
  });
});
</script>
</body>